# Example Dummy keys
AWS_ACCESS_KEY_ID="EXAMPLEACCESSKEY123456"
AWS_REGION="us-west-2"
AWS_S3_FILES_BUCKET_NAME="my-example-s3-bucket"
AWS_SECRET_ACCESS_KEY="EXAMPLESECRETKEY7890"
OPENAI_API_KEY="sk-1234567890abcdefEXAMPLE"
OPENROUTER_API_KEY="or-abcdef1234567890EXAMPLE"
PG_DATABASE_URL="postgres://user:password@localhost:5432/mydatabase"
TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"
UPSTASH_REDIS_REST_TOKEN="upstash-redis-token-abcdef123456EXAMPLE"
UPSTASH_REDIS_REST_URL="https://us1-example.upstash.io"
VITE_AWS_CLOUDFRONT_URL="https://d1234example.cloudfront.net"
VITE_BASE_URL="http://app.example.com"
VITE_BETTER_AUTH_URL="https://auth.example.com"
VITE_POSTHOG_KEY="phc_1234567890abcdefEXAMPLE"
VITE_POSTHOG_URL="https://eu.posthog.com"
VITE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
