node_modules
.DS_Store
dist
dist-ssr
*.local
.env
+.env.*  
+!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
.vercel
.env*.local

__unconfig*
todos.json



src/db/scripts/out/
src/db/scripts/backup/
tmp

**/a.ts
**/a.png
**/a.webp
**/a.mp3
**/a.webm

.codex
