node_modules
build
.netlify
.vercel
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml

src/db/migrations
src/db/scripts/out/
src/db/scripts/backup/

src/tools/lipi_lekhika/resources
src/db/migrations